@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Nunito:wght@400;700&display=swap");
body {
  font-family: 'Nunito', sans-serif;
  color: #13175E;
}

nav {
  position: fixed !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  z-index: 9999;
}

nav .navbar-brand img {
  max-height: 65px;
}

nav .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

section {
  padding: 40px 0;
}

.title {
  font-family: 'Alegreya SC', serif;
  font-size: 3rem;
}

.title-intro {
  font-size: 5rem;
  line-height: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5rem;
  color: #efefef;
}

.card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0;
  border-radius: 10px;
}

.link {
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.link .bi {
  font-size: 1rem;
}

.link:hover {
  color: #4ca2b9;
}

.link.light-btn {
  color: #d1d1d1;
}

.link.light-btn:hover {
  color: #efefef;
}

.link.big-btn {
  font-size: 2rem;
}

.link.big-btn .bi {
  font-size: 2rem;
}

.btn.line-btn:after {
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  margin: 0 auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.btn.line-btn:hover::after {
  width: 100%;
}

.card-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-list .card {
  margin-bottom: 20px;
}

.card-list .card-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 10px;
}

.card-list .card-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 0 10px;
  margin: 0;
}

.card-list .card-title::after {
  content: '';
  display: block;
  height: 1px;
  width: 80%;
  background-color: #0a0a0a;
  margin: 10px auto;
}

.card-list .card-description {
  padding: 0 10px;
}

@-webkit-keyframes introBackground {
  from {
    background-color: #0a0a0a;
  }
  to {
    background-color: #4ca2b9;
  }
}

@keyframes introBackground {
  from {
    background-color: #0a0a0a;
  }
  to {
    background-color: #4ca2b9;
  }
}

.intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  -webkit-animation-name: introBackground;
          animation-name: introBackground;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.cta {
  padding: 100px 0;
  background-color: #e67e22;
}

.instagram .btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.instagram .btn.line-btn:after {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.blog .card {
  -webkit-box-shadow: rgba(224, 80, 130, 0.3) 0px 1px 4px;
          box-shadow: rgba(224, 80, 130, 0.3) 0px 1px 4px;
  border: 0;
}

.blog .card .card-title {
  margin-top: 20px;
  font-family: 'Alegreya SC', serif;
}

.blog .line-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blog .line-btn:after {
  background-color: #13175E;
}

.contact .btn {
  font-size: 1.5rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.contact .btn i {
  margin-right: 10px;
}

.contact .btn:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
}

.contact .btn.whatsapp:hover {
  color: #3fc380;
}

.contact .btn.whatsapp:hover::after {
  width: 100%;
  background-color: #3fc380;
}

.contact .btn.email:hover {
  color: #f9b42d;
}

.contact .btn.email:hover::after {
  width: 100%;
  background-color: #f9b42d;
}

.social-media ul {
  font-size: 3rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media ul a {
  padding: 10px;
  color: #731436;
  opacity: .4;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.social-media ul a:hover {
  opacity: 1;
}

footer {
  text-align: center;
  background-color: #13175E;
  color: #efefef;
  padding: 20px 0;
}

footer p {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */