@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Nunito:wght@400;700&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}

nav{
    position: fixed !important;
    width: 100%;
    .navbar-brand{
        img{
            max-height: 65px;
        }
    }
    .navbar-collapse{
        flex-grow: 0;
    }
}

section{
    padding: 40px 0;
}

.title{
    font-family: 'Alegreya SC', serif;
    font-size: 3rem;
}

.title-intro{
    font-size: 5rem;
    line-height: 7rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5rem;
    color: #efefef;
}

.card{
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0;
    border-radius: 10px;
}

.link{
    font-weight: bold;
    transition: .3s ease-in-out;
    .bi{
        font-size: 1rem;
        
    }
    &:hover{
        color: #4ca2b9;
    }
    &.light-btn{
        color: #d1d1d1;
        &:hover{
            color: #efefef;
        }
    }
    &.big-btn{
        font-size: 2rem;
        .bi{
            font-size: 2rem;
        }
    }
}
// ------------------------- Animations --------------------------------------

@keyframes introBackground {
    from{
        background-color: #0a0a0a;
    }
    to{
        background-color: #4ca2b9;
    }
  }

// ------------------------- Página Inicial ----------------------------------

.intro{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #000;
    animation-name: introBackground;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.services{
    .services-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:20px;
    }
    .service-title{
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 0 10px;
        margin: 0;
        &::after{
            content: '';
            display: block;
            height:1px;
            width: 80%;
            background-color: #0a0a0a;
            margin: 10px auto;
        }
    }

    .service-description{
        padding: 0 10px;
    }

    .image-service{
        width: 100%;
        border-radius: 10px 10px 0 0;
        margin-bottom: 10px;
    }
}

.cta{
    padding: 100px 0;
    background-color: #e67e22;
}