@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Colors var
$dark-yellow: #e1dacb;
$middle-yellow: #f1ead1;
$bright-yellow: #fff9ef;
$bright-pink: #de3867;
$dark-pink: #610e24;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.bold {
  font-weight: bold;
}

.btn-primary {
  --bs-btn-bg: #de3867;
  --bs-btn-border-color: #de3867;
  --bs-btn-hover-bg: #610e24;
  --bs-btn-hover-border-color: #610e24;
  --bs-btn-border-radius: 25px;
  --bs-btn-font-weight: bold;
  --bs-btn-padding: 0.5rem 1.25rem;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

section {
  padding: 80px 0;

  @media screen and (max-width: 991px) {
    padding: 40px 0;
  }
}

h1,
.h1 {
  font-size: 3rem;
  color: $bright-pink;

  @media screen and (max-width: 991px) {
    font-size: 2rem;
  }
}

h2,
.h2 {
  font-size: 2rem;
  @media screen and (max-width: 991px) {
    font-size: 1.5rem;
  }
}

h3,
.h3 {
  font-size: 1.5rem;
  @media screen and (max-width: 991px) {
    font-size: 1.25rem;
  }
}

h4,
.h4 {
  font-size: 1.25rem;
  @media screen and (max-width: 991px) {
    font-size: 1.125rem;
  }
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &:before,
  &:after {
    content: "";
    width: 150px;
    height: 4px;
    background: $bright-pink;
    display: block;
  }

  img {
    width: 30px;
  }
}

// Navbar

.navbar {
  padding: 10px 0;
  font-weight: bold;

  .nav-item {
    &:last-child a {
      background: $bright-pink;
      color: #fff;
      border-radius: 25px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.navbar-brand img {
  max-height: 60px;
}

// Intro - Home

#intro {
  background: url("../img/03.png") no-repeat center center/cover;
  color: #fff;
  h1 {
    color: #fff;
  }
  #brain-img {
    max-width: 100px;
  }
}

#about-me {
  background-color: $dark-yellow;

  h1 {
    color: $bright-pink;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    // border-radius: 20px 0 20px 0;
    border: 20px #fff solid;
    max-width: 100%;

    @media screen and (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }
}

#psychotherapies {
  .service-item {
    gap: 1rem;
    @media screen and (max-width: 991px) {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      max-width: 100%;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

#cto-1 {
  background-color: $dark-yellow;
  .btn {
    font-size: 2rem;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    color: $bright-pink;
    background-color: #fff;
    border: 0;

    &:hover {
      color: $dark-pink;
    }

    @media screen and (max-width: 768px) {
      margin: 0 auto;
      display: block;
    }
  }
}

#about-specific-service {
  h1 {
    font-weight: bold;
  }

  img {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .btn {
      display: block;
      margin: 0 auto;
    }

    img {
      margin-top: 2rem;
    }
  }
}

#latest-posts {
  background-color: $dark-yellow;
  h1,
  p {
    color: $dark-pink;
  }

  .separator {
    &::before,
    &::after {
      background-color: $dark-pink;
    }
  }

  article {
    .card {
      padding: 1.125rem;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
          rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      }
    }

    h1 {
      font-size: 1.25rem;
    }

    @media screen and (max-width: 991px) {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#slider {
  background-color: $bright-yellow;
}

.swiper p,
.swiper h2 {
  color: $dark-pink;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: #de3867;
}

swiper-container::part(bullet-active) {
  background-color: #de3867;
}

#contact {
  background: rgb(255, 255, 255);
  color: $dark-pink;
  background: url("../img/cerebro-background.png") no-repeat right center,
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 35%,
      rgba(225, 218, 203, 1) 100%
    );
  padding: 80px 0 0 0;

  .text {
    font-size: 2rem;
  }

  .contact-info {
    img {
      max-width: 50px;
    }

    color: $bright-pink;
    font-weight: bold;
    font-size: 1.25rem;
  }

  #contact-picture {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    padding-top: 40px;
    .text {
      font-size: 1.25rem;
    }

    .contact-info {
      font-size: 1rem;
      img {
        max-width: 25px;
      }
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 40px;
    .text {
      font-size: 1.25rem;
    }

    .contact-info {
      font-size: 1.125rem;
      img {
        max-width: 25px;
      }
    }
  }
}

#default-footer {
  background: $dark-yellow;
  padding: 20px 0;

  .social-media {
    img {
      max-width: 40px;
    }
  }

  p {
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
    text-align: right;
  }

  @media screen and (max-width: 768px) {
    .social-media {
      justify-content: center;
    }
    p {
      margin-top: 2rem;
      text-align: center;
    }
  }

  @media screen and (max-width: 991px) {
    p {
      font-size: 0.85rem;
    }
  }
}

#post-title {
  background-color: $middle-yellow;
  text-align: center;
  margin-bottom: 2rem;
  h1 {
    font-weight: bold;
  }
}

#post-thumbnail {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 800px;
}

.post-metadata {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  text-align: left;
}

#post-content {
  max-width: 800px;
  margin: 0 auto 4rem;
  display: block;
}

#title-archive {
  background-color: $middle-yellow;
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 4rem;
  }

  p {
    font-size: 1.25rem;
  }
}

#post-list {
  display: flex;
  flex-direction: column;

  .post-separator {
    display: block;
    height: 2px;
    background-color: $dark-pink;
    width: 100%;
    opacity: 0.2;
  }

  .post-card {
    display: flex;
    gap: 2rem;
    color: $dark-pink;

    img {
      max-width: 33%;
    }

    .post-card-body {
      display: flex;
      flex-direction: column;
      gap: 0.85rem;
    }
  }

  @media screen and (max-width: 768px) {
    .post-card {
      flex-direction: column;
      img {
        max-width: 100%;
      }
    }
  }
}

.post-date {
  font-size: 0.85rem;
  opacity: 0.6;
}
